<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
                [subheader]="nombre|uppercase">
                {{nombre|uppercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase"
                [subheader]="nombre|lowercase">
                {{nombre|lowercase}}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase"
                [subheader]="nombre|titlecase">
                {{nombre|titlecase}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para formatear fechas.
    </p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <li>fecha</li>
            <li>fecha|date</li>
            <li>fecha|date:'short'</li>
            <li>fecha|date:'long'</li>
            <li>fecha|date:'dd/MMM/yyyy  HH:mm a'</li>

            <hr>

            <li>fecha|date:'long':'GMT-5'</li>
            <li>fecha|date:'long':'GMT-6'</li>
            <li>fecha|date:'long':'':'en'</li>
            <li>fecha|date:'long':'':'fr'</li>

        </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <li>{{fecha}}</li>
            <li>{{fecha|date}}</li>
            <li>{{fecha|date:'short'}}</li>
            <li>{{fecha|date:'long'}}</li>
            <li>{{fecha|date:'dd/MMM/yyyy  HH:mm a'}}</li>

            <hr>

            <li>{{fecha|date:'long':'GMT-5'}}</li>
            <li>{{fecha|date:'long':'GMT-6'}}</li>
            <li>{{fecha|date:'long':'':'en'}}</li>
            <li>{{fecha|date:'long':'':'fr'}}</li>

        </p-card>
    </div>
</div>